/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*====  VARIABLES ============================ */
:root {
    /* --header-height: 4.5rem; */

    /* --body-bg-color: hsl(270, 60%, 98%); */
    /* --purple: #BB99DD; */
    /* --purple: hsl(270, 50%, 73%); */
  
    /* colors */
    --hue: 270;
    /* HSL color mode */
    --body-color: hsl(var(--hue) 60% 98%); /*body-bg-color*/
    --base-color: hsl(var(--hue) 50% 73%); /*purple*/

    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
      
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
    scroll-behavior: smooth;
}

body {
    font: 300 1rem var(--title-font);
    color: var(--base-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 600 var(--title-font-size) var(--title-font);
    color: var(--base-color);
    -webkit-font-smoothing: auto;
}

.button {
    height: 3rem;
    width: 100%;
    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    background-color: var(--body-color);
    color: var(--base-color);
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 600 1rem var(--body-font);
    transition: background 0.3s; 

    border: 2px solid var(--base-color);
}
  
.button:hover {
    background: var(--base-color-alt);
}

main {
    background: var(--body-color);
    width: 414px;
    margin: 0 auto;

    padding: 7.875rem 0 9.875rem;
}

/*====  LAYOUT ============================ */
.container {
    margin-left: 2.75rem;
    margin-right: 2.75rem;
}

.grid {
    display: grid;
    gap: 1.1rem;
}

/*====  PROFILE ============================ */
#profile {
    text-align: center;
}

#profile .image {
    display: block;
    margin: 0 auto;
    width: 200px;
}

#profile .image img {
    border-radius: 100%;
    padding: 5px;
    border: 3px solid var(--base-color);
}

#profile .person a {
    color: var(--base-color);
}

/*====  LINKS ============================ */
#links {
    margin-top:  2rem;
}

/*====  SOCIAL ============================ */
#social {
    margin-top: 4.25rem;
}

#social .social {
    display: flex;
    justify-content: space-evenly;
}

#social .social a {
    align-items: center;
}

#social .social a i {
    font-size: 1.5rem;
    color: var(--base-color);
}