/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/*====  VARIABLES ============================ */
:root {
    /* --header-height: 4.5rem; */

    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
  
    /* colors */
    --hue: 227;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 57%);
    --base-color-second: hsl(var(--hue) 65% 88%);
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
  
    /* fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
}

/*===  BASE ============================ */
html {
    scroll-behavior: smooth;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-bg-color);
    -webkit-font-smoothing: antialiased;
    font-weight: bolder;
}

.title {
    font: 600 var(--title-font-size) var(--body-font);
    color: var(--text-color);
    -webkit-font-smoothing: auto;
}

main {
    /* background: var(--body-bg-color); */
    background: pink;
    width: 414px;
    margin: 0 auto;
}

/*====  LAYOUT ============================ */
.container {
    margin-left: 2.75rem;
    margin-right: 2.75rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

/*====  PROFILE ============================ */
#profile {
    padding-top: 7.875rem;
    text-align: center;
}

#profile .image {
    display: block;
    margin: 0 auto;
    width: 200px;
}

#profile .image img {
    border-radius: 100%;
    padding: 5px;
    border: 3px solid var(--purple);
}

#profile .person a {
    color: var(--purple);
}